<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <!-- python app and website tab logo link here-->
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">        <label for="imageInput">Choose an image:</label>
        <input type="file" id="imageInput" name="imageInput" accept="image/*">
        <br>
        <button type="submit">Upload Image</button>
    </form>

    <script type="text/javascript" src="./script.js">
        // this is a comment
    </script>    
</body>
</html>
